
<DOCTYPE html>
<html>
<head>
<style>

<h1 style= "font-size: 200px"; "font-family: Helvetica"; "font-color: white";
    background-color: teal>


  <h2 style= font-size: 150px font-color: teal;
    background-color: white>

h3 {
  font-size: 1100px; font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: rgb(238, 234, 234)
}
</style>
</head>
</html>
