
<DOCTYPE html>
<html>
<head>
<style>

<h1 style= "font-size: 200px"; "font-family: Helvetica"; "font-color: black"; "background-color:">


  <h2 style= font-size: 150px font-color: teal;
    background-color: white>

    .center {
      margin-left: auto;
      margin-right: auto;
    }

h3 {
  font-size: 1100px; font-family: Verdana, Geneva, Tahoma, sans-serif; background-color: rgb(255, 251, 251)
}
</style>

<a class style="font-size: 300%"; "font-color: black">

.dropbtn {
  background-color: #00e0e0;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
</head>
</html>
