<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <link rel="stylesheet" href="../static/css/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
  <title>Properties</title>

    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    {% include 'navbar.html' %}
    <!-- Team -->
    <section id="team" class="pb-5">
            <div class="container"></div>
                <div class="col-md-12 text-center">
                    <br>
                    <h5 class="section-title h1">About Me</h5>
                        <h4 style="text-align: center">Click to Learn More</h4>
                        <br>
                        
                    <div class="row">
                    <br>
                <!-- Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                        <div class="mainflip">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        <p><img src="https://media-exp1.licdn.com/dms/image/C4D03AQFbWmYzwO0f5g/profile-displayphoto-shrink_100_100/0/1616469396868?e=1624492800&v=beta&t=htFEWXMmSOuuXW4Qsx_HHkYbrEsE9Osy67EYEoMU9Eo" alt="card image"></p>
                                        <h4 class="card-title">Rebecca Joseph</h4>
                                        <p class="card-text">Data Analyst | Data Engineering | Imaging Specialist</p>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Rebecca Joseph</h4>
                                        <p class="card-text">I enjoy transforming data and creating clean and beautiful visualizations to tell a story and create solutions. I am passionate about healthcare, radiation sciences, and data analytics and visualizations.
                                            <br>
                                                 <br>  Technical Skills:
                                            
                                            Excel | Github | API | Statistics | Tableau | Social Media Mining | Hadoop | Machine Learning | Flask | Pandas | Jupyter Notebook  Command Line | Heroku | PostgreSQL | HTML5 | CSS | JavaScript | Python </p>
                                        <ul class="list-inline">
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://cosette3737.github.io/RebeccaJoseph/">
                                                    <i class="fa fa-link"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://www.linkedin.com/in/rebecca-joseph-922b0b169/">
                                                    <i class="fa fa-linkedin-square"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://github.com/Cosette3737">
                                                    <i class="fa fa-github-square"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="social-icon text-xs-center" target="_blank" href="https://docs.google.com/document/d/1lwtBjPWk3hBC7y6lXoIAxSVyaJzNgagIvbblOinnqKU/edit">
                                                    <i class="fa fa-google"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./Team member -->
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="image-flip" >
                        <div class="mainflip flip-0">
                            <div class="frontside">
                                <div class="card">
                                    <div class="card-body text-center">
                                        <br>
                                        <p><img class="img-fluid" src="https://raw.githubusercontent.com/Cosette3737/Web-Design-Challenge/main/static/images/hammer_.png" alt="card image" width='20' height = "20"></p>
                                        <h4 class="card-title">Credits</h4>
                                        <p class="card-text">Sources for this project include:</p>
                                    </div>
                                </div>
                            </div>
                            <div class="backside">
                                <div class="card">
                                    <div class="card-body text-center mt-4">
                                        <h4 class="card-title">Credits</h4>
                                        <p class="card-text">Sources used in the creation of this project include:
                                            <br><br>
                                        </a><a href="https://www.kaggle.com/uciml/breast-cancer-wisconsin-data"> Kaggle Data Set</a> <br>
                                
                                             </p>                               
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    
        <p class="col-md-12 text-center">© 2021 | Design by Rebecca Joseph </p>
          <p class="col-md-12 text-center">***We do not guarantee accuracy of diagnostic features*** | </a><a href="https://www.kaggle.com/uciml/breast-cancer-wisconsin-data"> Visit the Data Here</a> <br>
        </p>
        </section>
    <link rel="stylesheet" href="..css/style.css">
</body>
</html>