<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!--link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
  <title>Properties</title>

    <!------ Include the above in your HEAD tag ---------->
</head>
<body>
    {% include 'navbar.html' %}
    <!-- Team -->
    <section id="team" class="pb-5">
            <div class="container"></div>
            <div class="col-md-10">
                <div id="table-area" class="">
                  <table id="data-table" class="table table-striped">
                    <thead>
                      <tr>
                        <th class="table-head">id</th>
                        <th class="table-head">diagnosis</th>
                        <th class="table-head">radius_mean</th>
                        <th class="table-head">texture_mean</th>
                        <th class="table-head">perimeter_mean</th>
                        <th class="table-head">area_mean</th>
                        <th class="table-head">smoothness_mean</th>
                        <th class="table-head">compactness_mean</th>
                        <th class="table-head">concavity_mean</th>
                        <th class="table-head">concave_mean</th>
                        <th class="table-head">symmetry_mean</th>
                        <th class="table-head">fractal_dimension_mean</th>
                        <th class="table-head">radius_se</th>
                        <th class="table-head">texture_se</th>
                        <th class="table-head">perimeter_se</th>
                        <th class="table-head">area_se</th>
                        <th class="table-head">smoothness_se</th>
                        <th class="table-head">compactness_se</th>
                        <th class="table-head">concavity_se</th>
                        <th class="table-head">concave_points_se</th>
                        <th class="table-head">symmetry_se</th>
                        <th class="table-head">fractal_dimension_se</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
 
    
        <p class="col-md-12 text-center">© 2021 | Design by Rebecca Joseph </p>
          <p class="col-md-12 text-center">***We do not guarantee accuracy of diagnostic features*** | </a><a href="https://www.kaggle.com/uciml/breast-cancer-wisconsin-data"> Visit the Data Here</a> <br>
        </p>
        </section>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="/static/js/data.js"></script>

</body>
</html>